@font-face {
    font-family: UbuntuItalic;
    src: url(Ubuntu/Ubuntu-Italic.ttf);
}
@font-face {
    font-family: NunitoNormal;
    src: url(Nunito/Nunito-Regular.ttf);
}

#page {
    background: #001;
    height: 800px;
    color: whitesmoke;
    font-family: UbuntuItalic;
    padding-top: 20px;

}
.button {
    font-family: NunitoNormal;
    font-size: 16px;
    color: whitesmoke;
    border: solid 1px #00f;
    background: #002;
    box-shadow: #000 0 0 6px 4px,
            inset #004 0 0 6px 4px;
    box-sizing: border-box;
}
.button:hover {
    box-shadow: #ff0 0 0 6px 4px,
    inset #004 0 0 6px 4px;
}
.button:active {
    color: #005;
}
.line {
    display: inline-block;
    width: 100%;
    height: 1px;
    border: solid 1px #ff0;
    box-shadow: #ff1 0px  0px 5px 2px;
    background: #ff4;
}
.line_green {
    border: solid 1px #0f0;
    box-shadow: #1f1 0px  0px 5px 2px;
    background: #4f4;
}
.line_red {
    border: solid 1px #f00;
    box-shadow: #f11 0px  0px 5px 2px;
    background: #f44;
}
.line_blue {
    border: solid 1px #03f;
    box-shadow: #05f 0px  0px 5px 2px;
    background: #03f;
}
.vertical-line {
    display: inline-block;
    width: 1px;
    height: 100%;
    margin: 0 20px 0;
    border: solid 1px #ff0;
    box-shadow: #ff1 0  0 4px 3px;
    -webkit-box-shadow: #ff1 0 0 5px 2px;
    background: #ff4;
}
.vertical-line_green {
    border: solid 1px #0f0;
    box-shadow: #0f1 0  0 4px 3px;
    -webkit-box-shadow: #0f1 0 0 5px 2px;
    background: #0f4;
}
.header-noBorder {
    margin-bottom: 40px;
}
.header {
    background: #002;
    border-radius: 10px;
    box-shadow: inset #004 0  0 10px 5px,
    #000 0 0 10px 5px;
    padding: 20px;
    padding-bottom: 10px;

}
.header-text {
    margin: 0;
    text-shadow: #f5f5f5 0 0 8px;
    color: #f5f5f5;
    text-align: center;
}
/*MAIN PAGE*/
.menu-container {
    width: 70%;
    margin: auto;
    border-radius: 20px;

}
.logo {
    display: inline-block;
    width: 36%;
    margin-bottom: 10px;
    /*border: solid 1px #111;*/
}
.logo__top {
    width: 100%;
}
.logo__top__line {
    /*position: relative;*/
    /*top: 4px;*/
    width: 100%;
    height: 1px;
    border: solid 1px #0f0;
    box-shadow: #0f1 0  0 4px 3px;
    -webkit-box-shadow: #0f1 0 0 5px 2px;
    background: #0f0;
}
.logo__bottom {
    width: 100%;
}
.logo__bottom__line {
    width: 100%;
    /*-webkit-margin-start: 45.5%;*/
    /*-moz-margin-start: 46%;*/
    height: 1px;
    border: solid 1px #f00;
    box-shadow: #f01 0  0 4px 3px;
    -webkit-box-shadow: #f01 0 0 5px 2px;
    background: #f00;
}
.logo__center {
    color: #ff0;
    text-shadow: #ff2 0 0 8px;
}
.logo__beam {
    display: inline-block;
    font-size: 48px;
}
.logo__balls {
    display: inline-block;
    font-size: 48px;
}
.logo__divider {
    display: inline-block;
    width: 1px;
    height: 2em;
    margin: 0 20px 0;
    border: solid 1px #ff0;
    box-shadow: #ff1 0  0 4px 3px;
    -webkit-box-shadow: #ff1 0 0 5px 2px;
    background: #ff4;
}
.vertical-line_header50px {
    height: 50px;
    margin: 0 13% 0;
    position: relative;
    top: 10px
}
/*LOGOUT MODULE*/
.logout {
    display: inline-block;
    width: 36%;
}
.logout__info {
    display: inline-block;

}
.button_logout {
    width: 100%;
    margin-top: 10px;
}
.logout__on-main-page {
    /*background: linear-gradient(to top, #ff1, #ff9);*/
    /*border: 1px solid orange;*/
    /*border-radius: 3px;*/
    width: 100px;
}
/*-------------*/
.dontLogged {
    position: relative;
    top: -8px;
    display: inline-block;
    width: 36%;
    font-family: UbuntuItalic;
    font-size: 30px;
    text-shadow: whitesmoke 0 0 20px;

}

.menu {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 80px 20px 0 20px;
    min-height: 150px;
    border-radius: 10px;
    box-shadow: inset #004 0 0 20px 15px;

}
.menu__container-game-btn {
    display: inline-block;
    vertical-align: top;
    width: 33%;
    color: whitesmoke;
    /*background: #444;*/
}
.menu__container-game-btn__msg {
    display: block;
    margin-top: 30px;
    min-height: 50px;
    font-size: 18px;
}
.menu__button {
    width: 100px;
    height: 100px;
    /*margin-left: 100px;*/
    border: #002 solid 2px;
    border-radius: 50%;
    color: #002;
    background: whitesmoke;
}
/*нельзя сделать псевдоклассом потому что на кнопки disabled не должен срабатывать*/
.menu__button_active:not(.menu__button_disabled) {
    background: #007 !important;
    box-shadow: inset #005 0 0 14px 9px,
    #009 0 0 20px 20px !important;
}
.menu__button:hover {
    border-color: #007;
}
.menu__button_game {
    box-shadow: inset #0f0 0 0 7px 4px,
    #0f5 0 0 15px 15px;
    background: #0f3;
}
.menu__button_game:hover {
    box-shadow: inset #0f0 0 0 14px 9px,
    #ff0 0 0 20px 20px;
}
.menu__button_scoreboard {
    box-shadow: inset #0ff 0 0 7px 4px,
    #5ff 0 0 15px 15px;
    background: #3ff;
}
.menu__button_scoreboard:hover {
    box-shadow: inset #0ff 0 0 14px 9px,
    #ff0 0 0 20px 20px;
}
.menu__button_log {
    box-shadow: inset #f80 0 0 7px 4px,
    #f60 0 0 15px 15px;
    background: #fa0;
}
.menu__button_log:hover {
    box-shadow: inset #f80 0 0 14px 9px,
    #ff0 0 0 20px 20px;
}
.menu__button_disabled {
    background: #666;
    box-shadow: inset #555 0 0 14px 9px,
    #888 0 0 15px 15px !important;
}
.menu__button_disabled:hover {
    background: #666;
    border-color: #222;
}

/*LOGIN PAGE*/
.login {
    margin: auto;
    width: 400px;
    padding-bottom: 10px;
}
.input-field {
    margin-bottom: 30px;
}
.input-line {
    color: #ff0;
}
.input-line__header {
    display: inline-block;
    width: 35%;
    font-size: 22px;
    color: #f5f5f5;
    text-shadow: #f5f5f5 0 0 12px;
    box-sizing: border-box;
}
.input-line__input {
    width: 64%;
    margin-bottom: 0;
    border: solid 1px #00f;
    background: #88f;
    box-shadow: #33f 0 0 4px 3px;
    color: #002;
    box-sizing: border-box;
}
.validation-info {
    width: 95%;
    font-size: 12px;
    font-family: NunitoNormal;
    color: #ff0;
}
.validation-info_correct {
    color: #0f0;
}
.validation-info_error {
    color: #f00;
}
.validation-info-common {
    margin-top: 20px;
    font-size: 24px;
    text-shadow: #f00 0 0 10px;
    text-align: center;
}
.login__buttons-container {
    margin-top: 10px;
}
.login__buttons-container__button {
    width: 60%;
}
.login__buttons-container__registration-link {
    margin-left: 30px;
    font-size:24px;
    font-family: NunitoNormal;
    color: #f5f5f5;
    text-shadow: whitesmoke 0 0 20px;
}
.login__buttons-container__registration-link:hover {
    color: #00f;
    text-shadow: #00f 0 0 20px;
}
.login__buttons-container__registration-link:active {
    text-shadow: whitesmoke 0 0 20px;
    color: #004;
}

/*REGISTRATION PAGE*/
.registration {
    color: #003;
    margin: auto;
    width: 400px;
}
.registration__button {
    width: 99%;
    margin-top: 10px;
}

/*SCOREBOARD PAGE*/
.scoreboard {
    width: 300px;
    margin: auto;
}
.scoreboard__header {
    font-size: 40px;
    font-family: UbuntuItalic;
    text-shadow: whitesmoke 0 0 1em;

}
.table {
    width: 300px;
}
.table-header {
    margin-top: 10px;
    font-size: 22px;
    color: whitesmoke;
    text-shadow: whitesmoke 0 0 1em;
}
.table__table-header__item {
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
}
.table__table-header__item_alignRight {
    text-align: right;
}
.table__line {

}
.table__content {
    margin-top: 10px;
    font-family: NunitoNormal;
}
.table__content-line {
    padding: 3px 0 3px;
}
.table__item {
    display: inline-block;
    width: 43%;
    box-sizing: border-box;
    text-align: left;
}
.table__item-name {
    text-align: left;
}
.table__item-score {
     text-align: right;
 }
.table__item_even {
    color: #0f0;
    background: #003;
}
.table__item_odd {
    color: #ff0;
    /*background: #001;*/
}
.vertical-line_tableRelPos {
    position: relative;
    top: 3px;
    box-sizing: border-box;
}
.scoreboard__button {
    width: 100%;
    margin: 5px 0;
    box-sizing: border-box;
}

/*ROOMS PAGE*/
.rooms {
    width: 70%;
    margin: auto;
}
.rooms__lines {
    margin-top: 10px;
}
.rooms__lines__header {
    font-size: 20px;
    color: #ff0;
    text-shadow: #ff0 0 0 10px;
}
.rooms__lines__header__index {
    width: 5%;
    display: inline-block;
    box-sizing: border-box;
}
.rooms__lines__header__name {
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
}
.rooms__lines__header__players {
    width: 10%;
    display: inline-block;
    box-sizing: border-box;
    text-align: right;
}
.rooms__lines__header__maxPlayers {
    width: 10%;
    display: inline-block;
    box-sizing: border-box;
    text-align: right;
}
.rooms__lines__line {
    font-family: NunitoNormal;
    font-size: 16px;
    margin-top: 10px;
}
.rooms__lines__line__index {
    width: 5%;
    display: inline-block;
    box-sizing: border-box;
}
.rooms__lines__line__name {
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
}
.rooms__lines__line__players {
    width: 10%;
    display: inline-block;
    box-sizing: border-box;
    text-align: right;
}
.rooms__lines__line__maxPlayers {
    width: 10%;
    display: inline-block;
    box-sizing: border-box;
    text-align: right;
}
.rooms__lines__line__button {
    width: 22%;
    margin-left: 20px;
}

/*GAME PAGE*/
.field {
    /*width: 1200px;*/
    /*height: 700px;*/
    margin: 0 10px 10px 10px;
    border: solid 2px #000;
    box-shadow: #f5f5f5 0 0 5px 3px;
}
.character {
    position: absolute;
    top: 30px;
    left: 20px;
    margin: 0;
}

