#page {
    background: whitesmoke;
    height: 800px;
    color: orangered;
    font-family: "Arial", sans-serif;

    /*font-family: cursive;*/
}
.button {
    margin-left: 10px;
    margin-bottom: 10px;
}

/*MAIN PAGE*/
.menu {
    border: 1px solid #003;
    width: 200px;
    padding: 10px;
    padding-bottom: 0px;
    margin: auto;

}
.menu__button {
    font-size: 36px;
    color: orangered;
    text-decoration: none;
}
.menu__button-container {
    border: solid 1px #003;
    background: #ff3;
    margin : auto;
    margin-bottom: 10px;
}

/*LOGIN PAGE*/
.login {
    color: #003;
    margin: auto;
    width: 350px;
    border: 1px solid #003;
}
.login__registration-link {
    font-size:20px;
    color: #003;
    float: right;
    margin-right: 10px;
}
.input-line {
}
.input-line__header {
    width: 30%;
    float: left;
    margin: 0px 10px 0px 10px;
}
.input-line__input {
    width: 60%;
}
.button_login {
    width: 60%;
}
.button_logout {
    width: 94%;
}

/*REGISTRATION PAGE*/
.registration {
    color: #003;
    margin: auto;
    width: 350px;
    border: 1px solid #003;
}
.button_registration {
    width: 94%;
}

/*SCOREBOARD PAGE*/
.scoreboard {
    width: 300px;
    margin: auto;
    border: solid 1px #003;
    font-style: italic;
    font-family: cursive;
}
.scoreboard__header {
    font-size: 36px;

}
.table {
    width: 300px;
}
.table-header {
    background: #f90;
}
.table__item {
    margin: 10px;
    font-size: 20px;
    color: #003;
    background: #ff6;
}
.table__item_even {
    background: #ff9;
}
.table__item_odd {
    background: #ff5;
}

