$border: #00f;

.button {
  box-sizing: border-box;
  border: solid 1px $border;
  font-family: Exo2-normal;
  font-size: 16px;
  color: $color-font-base;
  background: $color-background;
  box-shadow: $color-background - #002 0 0 6px 4px,
        inset $color-background + #002 0 0 6px 4px;
  outline: none;

  &_long {
    width: 100%;
  }

  &:hover {
    box-shadow: #ff0 0 0 6px 4px,
    inset #004 0 0 6px 4px;
  }

  &:active {
    color: $color-font-base_inverse + #004;
  }
}