.joystick {
  overflow: hidden;
  &__canvas {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  &__canvas-cursor {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  &__info {
    position: absolute;
    @media screen and (orientation: portrait) {
      left: 0 !important;
    }
    @media screen and (orientation: landscape) {
      top: 0 !important;
    }
    border: 2px solid #fff;
    margin-top: 10px;
    margin-left: 10px;
    &__message {

    }
  }
}