$line-color-default: #ff0;
$line-color-red:     #f00;
$line-color-green:   #0f0;
$line-color-blue:    #03f;

@mixin line-colors($color) {
  border: solid 1px $color;
  box-shadow: $color + #001 0  0 5px 2px;
  background: $color + #004;
}

.line {
  display: inline-block;
  width: 100%;
  height: 1px;
  @include line-colors($line-color-default);

  &_green {
    @include line-colors($line-color-green);
  }

  &_red {
    @include line-colors($line-color-red);
  }

  &_blue {
    @include line-colors($line-color-blue);
  }
}

.vertical-line {
  display: inline-block;
  width: 1px;
  height: 100%;
  margin: 0 20px 0;
  @include line-colors($line-color-default);

  &_green {
    @include  line-colors($line-color-green)
  }

  &_headerSmall {
    height: 50px;
    margin: 0 13% 0;
    position: relative;
    top: 10px
  }

  &_tableRelPos {
    height: 1em;
    position: relative;
    top: 3px;
    box-sizing: border-box;
  }
}