.logout {
  position: relative;
  @-moz-document url-prefix() {
    top: -20px;
  }

  display: inline-block;
  width: 48%;
  margin-left: 20px;

  &__info {
    display: inline-block;
    font-size: $font-size_medium;
  }

  &__on-main-page {
    width: 100px;
  }

  &__button {
  }
}


