$reg-link-hover: #00f;

.login {
  margin: auto;
  width: 70%;
  min-width: 300px;
  max-width: 640px;
  padding-bottom: 10px;

  &__buttons-container {
    margin-top: 10px;

    &__button {
      width: 38%;
    }

    &__registration-link {
      display: inline-block;
      width: 60%;
      box-sizing: border-box;
      margin-left: 2%;

      font-size: $font-size_large;
      font-family: Exo2-bold;
      text-align: right;

      color: $color-font-extra;
      text-shadow: $color-font-extra 0 0 2em;

      &:hover {
        color: $reg-link-hover;
        text-shadow: $reg-link-hover 0 0 2em;
      }

      &:active {
        text-shadow: $color-font-extra 0 0 2em;
        color: $color-font-base_inverse;
      }
    }
  }
}