$reg-link-hover: #00f;

.login {
  margin: auto;
  width: 70%;
  min-width: 360px;
  max-width: 640px;
  padding-bottom: 10px;
  &__buttons-container {
    margin-top: 10px;
    &__button {
      width: 38%;
    }
    &__registration-link {
      display: inline-block;
      width: 60%;
      margin-left: 2%;
      text-align: right;
      box-sizing: border-box;
      font-size: 20px;
      font-family: NunitoNormal;
      color: $color-font-base;
      text-shadow: $color-font-base 0 0 2em;
      &:hover {
        color: $reg-link-hover;
        text-shadow: $reg-link-hover 0 0 2em;
      }
      &:active {
        text-shadow: $color-font-base 0 0 2em;
        color: $color-font-base_inverse;
      }
    }
  }
}