.rooms {
  width: 70%;
  min-width: 480px;
  max-width: 1000px;
  margin: auto;

  &__lines {
    margin: 10px 0 10px;

    &__header {
      white-space: nowrap;
      font-size: 20px;
      color: #ff0;
      text-shadow: #ff0 0 0 10px;

      &__index {
        width: 5%;
        display: inline-block;
        box-sizing: border-box;
      }

      &__name {
        width: 40%;
        display: inline-block;
        box-sizing: border-box;
      }

      &__players {
        width: 15%;
        display: inline-block;
        box-sizing: border-box;
        text-align: right;
      }

      &__maxPlayers {
        width: 15%;
        display: inline-block;
        box-sizing: border-box;
        text-align: right;
      }
    }

    &__line {
      white-space: nowrap;
      margin-top: 10px;
      font-family: NunitoNormal;
      font-size: 16px;
      box-sizing: border-box;

      &__index {
        width: 5%;
        display: inline-block;
        box-sizing: border-box;
      }
      &__name {
        width: 40%;
        display: inline-block;
        box-sizing: border-box;
      }

      &__players {
        width: 15%;
        display: inline-block;
        box-sizing: border-box;
        text-align: right;
      }

      &__maxPlayers {
        width: 15%;
        display: inline-block;
        box-sizing: border-box;
        text-align: right;
      }

      &__button {
        width: 23%;
        margin-left: 2%;
      }
    }
  }

  &__noRooms {
    margin: 10px 0 10px;

    &__message {
      font-size: $font-size_medium;
      color: $color-font-extra;
      text-shadow: $color-font-extra 0 0 1em;
    }
  }

  &__create {
    white-space: nowrap;
    margin: 10px 0 0;

    &__header {
      margin: 30px 0 20px;
    }

    &__input-line {
      width: 75%;
      display: inline-block;
      font-family: UbuntuItalic;

      &__header {
      }

      &__input {
      }
    }

    &__button {
      width: 23%;
      display: inline-block;
      margin-left: 2%;
    }

    &__message {
    }
  }
}