<?xml version="1.0" encoding="UTF-8"?>
<!--suppress XmlUnboundNsPrefix, XmlUnboundNsPrefix -->
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="log_dir">logs/${date:yyyy_MM_dd}</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{MM-dd HH:mm:ss,SSS}] %-5p %-40.40c : %m%n"/>
        </Console>
        <RollingFile name="RollingFile" fileName="${log_dir}/full_server.log"
                     filePattern="${log_dir}/old/full/full_server_%d{HH-mm}_%i.log">
            <PatternLayout>
                <pattern>%highlight{[%d{MM-dd HH:mm:ss,SSS}, %-8r] %-5p %-35.40c %-8markerSimpleName %m%n}</pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="50MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
        <RollingFile name="ErrFile" fileName="${log_dir}/err_server.log"
                     filePattern="${log_dir}/old/err/err_server_%d{HH-mm}_%i.log">
            <PatternLayout>
                <pattern>%highlight{[%d{MM-dd HH:mm:ss,SSS}, %-9r] %-5p %-40.40c %m%n}</pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="50MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
        <RollingFile name="Hibernate" fileName="${log_dir}/hibernate.log"
                     filePattern="${log_dir}/old/err/hibernate_%d{HH-mm}_%i.log">
            <PatternLayout>
                <pattern>%highlight{[%d{MM-dd HH:mm:ss,SSS}, %-9r] %-5p %-40.40c %m%n}</pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="50MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
        <RollingFile name="Hibernate_queries" fileName="${log_dir}/hiber_queries.log"
                     filePattern="${log_dir}/old/err/hiber_queries_%d{HH-mm}_%i.log">
            <PatternLayout>
                <pattern>%highlight{[%d{MM-dd HH:mm:ss,SSS}, %-9r] %-5p %-40.40c %m%n}</pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="50MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
        <RollingFile name="RRfile" fileName="${log_dir}/RRfile.log"
                     filePattern="${log_dir}/old/err/RRfile_%d{HH-mm}_%i.log">
            <PatternLayout>
                <pattern>%highlight{[%d{MM-dd HH:mm:ss,SSS}, %-9r] %-5p %-40.40c %m%n}</pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="50MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
        <Async name="AsyncFile">
            <AppenderRef ref="RollingFile"/>
        </Async>
        <Async name="AsyncConsole">
            <AppenderRef ref="Console"/>
        </Async>
        <Async name="AsyncErr">
            <AppenderRef ref="ErrFile"/>
        </Async>
        <Async name="AsyncHiber">
            <AppenderRef ref="Hibernate"/>
        </Async>
        <Async name="AsyncHiberSQL">
            <AppenderRef ref="Hibernate_queries"/>
        </Async>
        <Async name="RequestResponse">
            <AppenderRef ref="RRfile"/>
        </Async>
    </Appenders>
    <Loggers>
        <Root level="ALL">
            <AppenderRef ref="ErrFile" level="ERROR"/>
            <AppenderRef ref="AsyncFile" level="ALL"/>
            <AppenderRef ref="AsyncConsole" level="ERROR"/>
        </Root>
        <logger name="org.hibernate" additivity="false">
            <level value="INFO" />
            <appender-ref ref="AsyncHiber"/>
        </logger>
        <logger name="ReqResp" additivity="false">
            <level value="INFO" />
            <appender-ref ref="RequestResponse"/>
        </logger>
        <logger name="org.hibernate.SQL" additivity="false">
            <level value="INFO" />
            <appender-ref ref="AsyncHiberSQL"/>
        </logger>
    </Loggers>
</Configuration>